form {
  width: 44%;
  margin: 0 auto;
}

label {
  font-size: 30px;
}

.username {
  margin-bottom: 50px;
}

input {
  width: 65%;
  padding: 6px 0px 5px 0px;
  border: none;
  border-bottom: 2px solid #555;
  box-sizing: border-box;
  outline: none;
  vertical-align: bottom;

  &::placeholder {
    text-transform: capitalize;
    font-size: 20px;
  } 
}

input[type=submit] {
  width: 25%;
  padding: 10px 15px 10px 15px;
  border: 2px solid #00FFFF;
  margin-left: 10px;
  color: #fff;
  background-color: #00FFFF;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    color: #00FFFF;
  }
}


.password {

 position: relative; 

label { padding-left: 6px; }
input { width: 65.5%; }

.password-icon {
  position: absolute;
  top: 12px;
  right: 32px
}

}