
//tab styling start here
.currentTab {
  display: flex;


.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  flex-basis: 30%;
  height: 300px;
}

.active { border:2px solid aqua;  }

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;

  &:hover {
    background-color: aqua;
  }
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  flex-basis: 65%;
  border-left: none;
  height: 300px;
}

}

//tab styling end here